.map {
      border: 5px solid black;
      border-radius: 10px;
      height: 500px;
      width: 80%;
      top: 37%;
      left: 50%;
      margin-top: -250px; /* Negative half of height. */
      margin-left: -40%; /* Negative half of width. */
      position: fixed;
      z-index: 0;
}
th{
    border: 2px solid gray;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 5px;
    color: black;
}

tr, td{
    border: 2px solid gray;
    text-align: center;
    color: white;
    background-color: #343536;
    border-radius: 5px;
    border-collapse: collapse;
}
#reportTable{
    margin: 0 auto;
    table-layout: fixed;
    border: 2px solid gray;
    width: 55%;
    border-collapse: collapse;
    border-radius: 10px;
}
#navbar{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    border: solid 2px black;
    top: 0%;
    left: 0%;
    position: fixed;
    width: 100%;
    background-color: #4d607d;
    height: 50px;
    color: white;
    padding: 5px;
    z-index: 100;
}

#navTitle{
    color: white;
}

.navbar-header{

}

#activeItem{
    background-color: #00758a;
    color: red;
}

body{
    background-color: rgb(41, 59, 60);
}

.tableHeader{
    width: 55%;
    border: 2px solid gray;
    background-color: #AEB8C0;
    text-align: center;
    margin: 0 auto;
    font-weight: bolder;
    border-radius: 5px;
}

#country{
    text-align: center;
    color: #3e465c !important;
    background-color: #3e465c !important;
}


#wrapper{
    display: flex;
    height: 500px;
}

#reportHolder{
    top: 100%;
    height: 300px;
    overflow-y: auto;

}

/* Dropdown Button */
.dropbtn {
    display: flex;
    background-color: #4d607d;
    text-align: center;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    left: 1%;
    width: 75px;
    position: fixed;
    z-index: 1;
    top: 38%;
    left: 41%;
    margin-top: -250px; /* Negative half of height. */
    margin-left: -40%; /* Negative half of width. */
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: fixed;
    background-color: ##457cd6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 13%;
    left: 1%

}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    background-color: #6788c2;

    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #83adf7;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #5b7eb5;}

.ol-popup {
        position: absolute;
        background-color: #3e465c;
       -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        padding: 4px;
        border-radius: 10px;
        border: 1px solid #cccccc;
        bottom: 12px;
        left: -50px;
        min-width: 90px;
      }
.ol-popup:after, .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
.ol-popup:after {
        border-top-color: white;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
      }
.ol-popup:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
      }
.ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 2px;
        right: 8px;
      }
.ol-popup-closer:after {
        content: "";
      }

#ol-popup-content{
    color: black;
}

